@model IEnumerable<OddJobPlatformV1._1.Models.JobSeeker>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.jsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.cv)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.emailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.jsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobile)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.cv)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.emailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.jsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.jsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.jsId })
        </td>
    </tr>
}

</table>
